#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 1px solid #222;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.calculator input{
    width: 100%;
    padding: 10px 10px;
}

.number-btns{
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.clicked{
    background: grey;
}

.operator-btns{
    width: 100px;
    height: 50px;
    line-height: 50px;
}