#root{
    height: 100vh;
    width: 100%;
    background: url("https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    user-select: none;
}

main{
    padding: 20px;
    width: 50%;
    background: rgba(255,255,255,0.7);
    overflow: auto;
    max-width: 900px;
}   

h1{
    width: 60%;
    margin: 10px auto;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    background-color: white;
}

#inputValue{
    margin: 30px auto;
    width: 100%;
    max-width: 700px;
}

#inputValue button{
    width: 20%;
    padding: 11px;
    cursor: pointer;
    background: rgb(47, 159, 47);
    border: 1px solid #222;
    color: white;
}

#inputValue button:hover{
    background: rgb(26, 108, 26);
}

#inputValue input{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(47, 159, 47);
}

.overflow-auto{
    height: calc(100vh - 200px);
    overflow: auto;
    max-width: 700px;
    margin: auto;
}

#inputValue input:focus{
    outline: 1px solid rgb(47, 159, 47);
    box-shadow: 0 0 5px rgb(47, 159, 47);
}

.single-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    height: 40px;
    border: 1px solid #222;
    margin-bottom: 15px;
    background: white;
    overflow: hidden;
}

.single-task-input{
    height: 100%;
    border: 0;
    outline: none;
    width: 80%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
    color: rgb(250, 57, 57);
}

.delete-slide{
    width: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.close-btn:hover{
    width: 20%;
    transition: 0.7s;
    background: rgb(208, 47, 47);
}

.close-btn:hover span{
    transition: 0.2s;
    opacity: 0;
    width: 0;
}

.close-btn:hover .delete-slide{
    width: 15%;
    transition: 0.7s;
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 905px){
    main{
        width: 80%;
    }  
}


@media only screen and (max-width: 570px){
    main{
        width: 100%;
        background: rgba(255,255,255,0.2);
    }  
    h1{
        width: 80%;
    }
    #inputValue button{
        font-size: 2.9vw;
        padding: 11px 5px;
    }

    #inputValue input{
        font-size: 2.9vw;
        padding: 11px 5px;
    }
}